.Review-Y {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Full width to ensure horizontal centering */

 
    display: flex;
    flex-direction: column;

    font-size: 20px;
    font-weight: 600;
    margin-top: 50px; /*ADDED*/
    margin-bottom: 50px;
}

.background-top-Y {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -2;
  }
  
  .background-bottom-Y {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
  }
  
  .background-top-Y {
      top: 0;
      height: 100%; /* Covers top half */
      background: linear-gradient(-45deg, #FFDCA9, #FAAB78, #df965a);
      background-size: 400% 400%;
      -webkit-animation: gradbar 6s ease infinite;
      -moz-animation: gradbar 6s ease infinite;
      animation: gradbar 6s ease infinite;
  }
  
  .background-bottom-Y {
      bottom: 0;
      background-color: #EE7752;
      height: 70%;
      border-top-left-radius: 90% 30%;
      border-top-right-radius: 40% 20%;
  }

.Rectangle-Y {
    width: 70%;
    background-color: #e3603f;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr; /* Two columns of equal width */
    grid-gap: 20px; /* Space between columns */
    margin-bottom: 20px; /* Space below the grid */

    justify-content: center;

}




.name-Y {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Spreads out the label and the input */
    margin-bottom: 10px; 
    margin: 10px;
} 

.name-Y > input {
    flex: 1; /* This makes each element take equal space */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    width: 80%;
}

.name-Y {
    margin-bottom: 10px;
    background-color: #faaf7c;
    border-radius: 10px;
    display: flex;
    justify-items: space-between;
    height: 80px;
    padding: 10px;
}

.name-x-Y {
    margin-bottom: 10px;
    background-color: #faaf7c;
    border-radius: 10px;
    padding: 10px;

    margin-bottom: 10px; 
    margin: 10px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.name-z-Y {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.rating-review-Y {
    display: flex;
    border-radius: 15px;
    width: 40%;
    align-items: center;
    justify-items: stretch;
}

.input-Y {
    border-radius: 10px;
    height: 40px;
    margin: 10px;
    width: 100%;
    justify-items: flex-end;
    border: none;
}

.review-title-Y {
    width: 200px;
}

.title-Y {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    background-color: #faaf7c;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.tracking-button-Y {
    padding: 10px 20px;
    background-color: #e3603f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    height: 50px;

    background: linear-gradient(-45deg, #e3603f, #E25E3E);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;

}

.tracking-button-Y:hover {
    transition: color 0.3s ease-out;
    color: #EE7752;
    border:1px solid #EE7752;

    background: linear-gradient(-45deg, #F1C27B, #FFD89C, #F4DFB6);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}



.contain-1-Y {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 1;
    background-color: #F4DFB6;
    border-radius: 10px;
    padding: 10px;
}

.contain-2-Y {
    width: 100%;
    grid-column: 2;
    background-color: #f3dfb6;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}




.title-main-Y {
    color: white;
}

.c1-Y {
    width: 100%;
}

.c1x-Y {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ft-Y {
    font-size: 16px;
}

.c4-Y {
    background-color: #E25E3E;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.c5-Y {
    background-color: #f3dfb6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 30px;
}

.c6-Y {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 400px;
    overflow-y: scroll;
}

.dt-Y {
    font-weight: 100;
}

.c7-Y {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.d1-Y {
    padding: 20px;
}

.d2-Y {
    display: flex;
    gap: 20px;
}

.d2x-Y {
    width: 50%;
}

.d3-Y {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.d4-Y {
    display: flex;
}

.d5-Y {
    width: 50%;
}

.d6-Y {
    height: 10vh;
    justify-content: flex-start;
    align-items: start;
    padding: 20px;
}

.d7-Y {
    background-color: #E25E3E;
}

.input-Y {
 padding: 10px;;
}