.Review-T {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Full width to ensure horizontal centering */

 
    display: flex;
    flex-direction: column;

    font-size: 20px;
    font-weight: 600;
    margin-top: 50px; /*ADDED*/
    margin-bottom: 50px;
}

.background-top-T {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -2;
  }
  
  .background-bottom-T {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
  }
  
  .background-top-T {
      top: 0;
      height: 100%; /* Covers top half */
      background: linear-gradient(-45deg, #FFDCA9, #FAAB78, #df965a);
      background-size: 400% 400%;
      -webkit-animation: gradbar 6s ease infinite;
      -moz-animation: gradbar 6s ease infinite;
      animation: gradbar 6s ease infinite;
  }
  
  .background-bottom-T {
      bottom: 0;
      background-color: #EE7752;
      height: 70%;
      border-top-left-radius: 90% 30%;
      border-top-right-radius: 40% 20%;
  }

.Rectangle-T {
    width: 80%;
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.contain-3-T {
    width: 100%;
    justify-self: center;
}

.name-anon-T {
    display: flex;
    align-items: center;
    height: 70px;
}

.name-T {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Spreads out the label and the input */
    margin-bottom: 10px; 
    margin: 10px;
} 

.rating-review-T {
    display: flex;
    border-radius: 15px;
    width: 40%;
    align-items: center;
    justify-items: stretch;
}



.input-check-T {
    border-radius: 8px;
    height: 30px;
    margin: 10px;
    width: 30px;
}

.input-T {
    border-radius: 8px;
    height: 30px;
    margin: 10px;
    width: 300px;
}

.review-title-T {
    width: 200px;
}

.title-T {
    display: flex;
    width: 500px;
    align-items: center;
}

.tracking-button-T {
    padding: 10px 20px;
    background-color: #EE7752;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    height: 50px;

    background: linear-gradient(-45deg, #FF9B50, #E25E3E);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;

}

.tracking-button:hover-T {
    transition: color 0.3s ease-out;
    color: #EE7752;
    border:1px solid #EE7752;

    background: linear-gradient(-45deg, #F1C27B, #FFD89C, #F4DFB6);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

.buttons-T {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.contain-1-T {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contain-2-T {
    width: 50%;
}

.c1-T {
    margin-bottom: 60px;
}

.title-main-T {
    color: white;
}

.comment-box-T {
    width: 100%;
    height: 300px;
}