.Review-R {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 90vh; /* Set the height to the full viewport height for vertical centering */
    width: 100%; /* Full width to ensure horizontal centering */

 
    display: flex;
    flex-direction: column;

    font-size: 24px;
    font-weight: 600;
}

.background-top-R {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -2;
  }
  
  .background-bottom-R {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
  }
  
  .background-top-R {
      top: 0;
      height: 100%; /* Covers top half */
      background: linear-gradient(-45deg, #FFDCA9, #FAAB78, #df965a);
      background-size: 400% 400%;
      -webkit-animation: gradbar 6s ease infinite;
      -moz-animation: gradbar 6s ease infinite;
      animation: gradbar 6s ease infinite;
  }
  
  .background-bottom-R {
      bottom: 0;
      background-color: #EE7752;
      height: 70%;
      border-top-left-radius: 90% 30%;
      border-top-right-radius: 40% 20%;
  }

.Rectangle-R {
    width: 80%;
    background-color: #e3603f;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr; /* Two columns of equal width */
    grid-gap: 20px; /* Space between columns */
    margin-bottom: 20px; /* Space below the grid */

    justify-content: center;

}

.contain-3-R {
    grid-column: 1 / -1;
    width: 100%;
}



.name-R {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Spreads out the label and the input */
    margin-bottom: 10px; 
    margin: 10px;
} 

.name-R > input {
    flex: 1; /* This makes each element take equal space */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    width: 80%;
}

.name-R {
    margin-bottom: 10px;
    background-color: #faaf7c;
    border-radius: 10px;
    display: flex;
    justify-items: space-between;
    height: 80px;
    padding: 10px;
}

.name-x-R {
    margin-bottom: 10px;
    background-color: #faaf7c;
    border-radius: 10px;
    padding: 10px;

    margin-bottom: 10px; 
    margin: 10px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.rating-review-R {
    display: flex;
    border-radius: 15px;
    width: 40%;
    align-items: center;
    justify-items: stretch;
}

.input-R {
    border-radius: 8px;
    height: 30px;
    margin: 10px;
    width: 50%;
    justify-items: flex-end;
}

.review-title-R {
    width: 200px;
}

.title-R {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    background-color: #faaf7c;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.tracking-button-R {
    padding: 10px 20px;
    background-color: #e3603f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    height: 50px;

    background: linear-gradient(-45deg, #e3603f, #E25E3E);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;

}

.tracking-button-R:hover {
    transition: color 0.3s ease-out;
    color: #EE7752;
    border:1px solid #EE7752;

    background: linear-gradient(-45deg, #F1C27B, #FFD89C, #F4DFB6);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}



.contain-1-R {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 1/3;
    background-color: #F4DFB6;
    border-radius: 10px;
    padding: 10px;
}

.contain-2-R {
    width: 100%;
    grid-column: 3;
    background-color: #f3dfb6;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}




.title-main-R {
    color: white;
}

.c1x-R {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.c2-R {
    height: 300px;
    background-color: #faaf7c;
    width: 49%;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.c3-R {
    width: 50%;
}

.c3t-R {
    padding-bottom: 20px;
}
.c3x-R {
    display: flex;
    justify-content: flex-start;
    width: 100%;

}

.ft-R {
    font-size: 16px;
}

.c4-R {
    background-color: #E25E3E;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.c5-R {
    background-color: #f3dfb6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 30px;
}

.c6-R {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 400px;
    overflow-y: scroll;
}

.dt-R {
    font-weight: 100;
}

.c7-R {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
